<%= render 'cards/form', card: card do |form| %>
   <%= form.fields_for :actable, card.actable do |a| %>
      <div class="field">
         <%= a.label :completed %>
         <%= a.check_box :completed %>
      </div>
      <div class="field">
         <%= a.label :location %>
         <%= a.collection_select :location_id, card.campaign.locations, :id, :title, include_blank: true %>
      </div>
   <% end %>
<% end %>
