<div class="grid">
    <% unless @card.html_body.empty? %>
        <div class="paper">
            <%= @card.html_body %>
        </div>
    <% end %>

    <div class="card">
        <h3>Objectives</h3>
        <%= render 'objectives/list', objectives: @card.objectives %>

        <% new_objective = CardType::Objective.new(quest: @card, card: Card.new) %>
        <%= form_with model: [@campaign, new_objective.card] do |form| %>
            <%= form.text_field :title, placeholder: 'New objective' %>
            <%= form.hidden_field :actable_type %>
            <%= hidden_field :redirect_back, true %>
            <%= form.fields_for :actable, new_objective do |f| %>
                <%= f.hidden_field :id %>
                <%= f.hidden_field :quest_id %>
                <%= f.submit %>
            <% end %>
        <% end %>
    </div>

    <% if @card.location %>
        <%= render @card.location %>
    <% end %>

    <%= render @card.links_to_relations.map(&:specific) %>

    <div class="card">
        <%= form_with model: [@campaign, @card.card, Link.new(from: @card)] do |f| %>
            <%= f.hidden_field :from_id %>
            <%= f.collection_select :to_id, @campaign.cards.to_a.reject { |c| c.specific == @card }, :id, :title %>
            <%= f.select :link_type, Link.types.each_with_index.map { |type, index| [type.capitalize, type] } %>
            <%= f.submit %>
        <% end %>
    </div>
</div>
