<% content_for :title, @quest.title %>

<% content_for :nav do %>
    <%= link_to @campaign do %>
        <h3><%= @campaign.name %></h3>
    <% end %>

    <%= link_to 'Edit', edit_campaign_quest_path(@campaign, @quest) %>
<% end %>

<%= render 'image_header', image: @quest.image, image_class: 'splash', size: :regular do %>
    <div class="splash-wrapper">
        <div class="splash-content">
            <h1><%= @quest.title %></h1>
        </div>
    </div>
<% end %>

<article>
    <%= @quest.html_body %>
</article>

<div class="grid">
    <%= render @quest.links_to_relations %>

    <div class="card">
        <%= form_with model: [@campaign, @quest.card, Link.new(from: @quest)] do |f| %>
            <%= f.hidden_field :from_id %>
            <%= f.collection_select :to_id, @campaign.cards.to_a.reject { |c| c.specific == @quest }, :id, :title %>
            <%= f.select :link_type, Link.types.each_with_index.map { |type, index| [type.capitalize, type] } %>
            <%= f.submit %>
        <% end %>
    </div>
</div>
