<% content_for :header do %>
    <%= link_to [@card.quest.campaign, @card.quest] do %>
        <%= render 'icon_header', {
            level: 2,
            title: @card.quest.title,
            icon: @card.quest.icon,
            label: @card.quest.specific.model_name.human
        } %>
    <% end %>

   <%= render 'icon_header', title: @card.title, icon: @card.icon, label: @card.specific.model_name.human %>
<% end %>

<% unless @card.html_body.empty? %>
    <div class="paper">
        <%= @card.html_body %>
    </div>
<% end %>

<% if @card.location %>
    <%= render @card.location %>
<% end %>
