<% content_for :title, "#{@campaign.name} members" %>

<% content_for :nav do %>
  <%= link_to @campaign do %>
    <h3><%= @campaign.name %></h3>
  <% end %>
<% end %>

<% content_for :header do %>
  <h1><%= @campaign.name %></h1>

  <% unless @campaign.tagline.empty? %>
    <p><%= @campaign.tagline %></p>
  <% end %>
<% end %>

<%= render @campaign.users %>
