<%= link_to [card.campaign, card.specific], class: "card" do %>
	<%= render 'image_header', image: card.image, inline_if_no_image: true do %>
		<h3>
			<% if card.icon %>
				<i class="<%= card.icon %>" aria-role="image" aria-label="<%= card.specific.model_name.human %>"></i>
			<% end %>

			<%= card.title %>
		</h3>
	<% end %>

	<%= card.html_body %>
	<%= yield %>

	<% if local_assigns.key? :link %>
		<%= link.link_type.capitalize %>
		<%= button_to 'Unlink', [card.campaign, card, link], method: :delete %>
	<% end %>
<% end %>
