<%= link_to [card.campaign, card], class: "card" do %>
	<%= render 'image_header', image: card.image do %>
		<h3><%= card.title %></h3>
	<% end %>

	<%= card.html_body %>

	<% if local_assigns.key? :link %>
		<%= link.link_type.capitalize %>
		<%= button_to 'Unlink', [card.campaign, card, link], method: :delete %>
	<% end %>
<% end %>
