<% content_for :card_nav do %>
  <%= link_to card.persisted? ? [card.campaign, card.specific] : [:new, card.campaign, :card] do %>
    <i class="fa fa-arrow-left"></i>
    Back
  <% end %>
<% end %>

<%= form_with(model: [@campaign, card], id: :card_form, html: { class: :grid }, data: { controller: 'autosave', action: 'input->autosave#save change->autosave#save' }) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
        <% card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if card.owner?(current_user) %>
    <div class="card">
      <div class="o-forms-field">
        <%= form.label :visible, class: 'o-forms-title' do %>
          <span class="o-forms-title__main">
            Visible to
          </span>
        <% end %>
        <span class="o-forms-input o-forms-input--radio-box">
          <span class="o-forms-input--radio-box__container">
            <% Card.visibles.keys.each do |visibility| %>
              <%= form.label :visible, value: visibility, title: visibility.humanize do %>
                <%= form.radio_button :visible, visibility %>
                <span class="o-forms-input__label">
                  <i class="<%= Card.icon_for_group(visibility) %>"></i>
                </span>
              <% end %>
            <% end %>
          </span>
        </span>
      </div>
      <div class="o-forms-field">
        <%= form.label :editable, class: 'o-forms-title' do %>
          <span class="o-forms-title__main">
            Editable by
          </span>
        <% end %>
          <span class="o-forms-input o-forms-input--radio-box">
            <span class="o-forms-input--radio-box__container">
              <% Card.editables.keys.each do |editability| %>
                <%= form.label :editable, value: editability, title: editability.humanize do %>
                  <%= form.radio_button :editable, editability %>
                  <span class="o-forms-input__label">
                    <i class="<%= Card.icon_for_group(editability) %>"></i>
                  </span>
                <% end %>
              <% end %>
            </span>
          </span>
      </div>
    </div>
  <% end %>

  <div class="card">
    <div class="field">
      <%= render 'images/form', image: card.image, form: form %>
    </div>
  </div>

  <%= form.hidden_field :actable_type %>

  <%= yield form %>
<% end %>
