<% content_for :header do %>
  <%= fields model: card do |fields| %>
    <h1><%= fields.text_field :title, form: :card_form, class: 'inline-input', placeholder: "New #{card.specific.model_name.human}" %></h1>
  <% end %>
<% end %>

<% content_for :card_nav do %>
  <%= link_to "Back", card.persisted? ? [card.campaign, card.specific] : [:new, card.campaign, :card] %>
<% end %>

<%= form_with(model: [@campaign, card], id: :card_form) do |form| %>
	<%= form.hidden_field :actable_type %>
  <%= form.fields_for :actable, card.actable do |a| %>
    <%= a.hidden_field :id %>
  <% end %>

  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
        <% card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
      <%= render 'images/form', image: card.image, form: form %>
  </div>

  <%= yield form %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
