<p id="notice"><%= notice %></p>

<h1>Cards</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Slug</th>
      <th>Body</th>
      <th>Campaign</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.title %></td>
        <td><%= card.slug %></td>
        <td><%= card.body %></td>
        <td><%= card.campaign_id %></td>
        <td><%= link_to 'Show', [@campaign, card] %></td>
        <td><%= link_to 'Edit', edit_campaign_card_path(@campaign, card) %></td>
        <td><%= link_to 'Destroy', [@campaign, card], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_campaign_card_path(@campaign) %>
