<% content_for :header do %>
   <h1>Add something...</h1>
<% end %>

<% content_for :nav do %>
   <%= link_to @campaign do %>
      <h3><%= @campaign.name %></h3>
   <% end %>
<% end %>

<div class="grid">
   <% @types.each do |type| %>
      <%= link_to new_polymorphic_path([@campaign, type.new]), class: :card do %>
         <header>
            <%= render 'icon_header', level: 3, title: type.model_name.human.title, icon: type.icon, label: type.model_name.human %>
         </header>
         <p><%= type.description %></p>
      <% end %>
   <% end %>
</div>
