<% content_for :title, @card.title %>

<% content_for :nav do %>
    <%= link_to @campaign do %>
        <h3><%= @campaign.name %></h3>
    <% end %>

    <%= link_to 'Edit', edit_campaign_card_path(@campaign, @card) %>
<% end %>

<%= render 'image_header', image: @card.image, image_class: 'splash', size: :regular do %>
    <div class="splash-wrapper">
        <div class="splash-content">
            <h1><%= @card.title %></h1>
        </div>
    </div>
<% end %>

<article>
    <%= @card.html_body %>
</article>

<div class="grid">
    <%= render @card.links_to %>

    <div class="card">
        <%= form_with model: [@campaign, @card, Link.new(from: @card)] do |f| %>
            <%= f.collection_select :to_id, @campaign.cards, :id, :title %>
            <%= f.select :link, Link._dag_options.types.keys.each_with_index.map { |type, index| [type.capitalize, index + 1] } %>
            <%= f.submit %>
        <% end %>
    </div>
</div>
