<% content_for :title, @card.title %>

<% content_for :nav do %>
    <%= link_to @campaign do %>
        <h3><%= @campaign.name %></h3>
    <% end %>

    <%= link_to 'Edit', edit_campaign_card_path(@campaign, @card) %>
<% end %>

<%= render 'image_header', image: @card.image, image_class: 'splash', size: :regular do %>
    <div class="splash-content">
        <h1><%= @card.title %></h1>
    </div>
<% end %>

<article>
    <%= @card.html_body %>
</article>

<div class="grid">
    <%= render @campaign.cards %>
</div>
