<% invite ||= nil %>

<% content = capture do %>
   <%= render 'image_header', image: campaign.image, inline_if_no_image: true do %>
      <h3><%= campaign.name %></h3>
   <% end %>

   <% unless campaign.tagline.blank? %>
      <p><%= campaign.tagline %></p>
   <% end %>
<% end %>

<% if invite %>
   <div class="card pending">
      <%= content %>

      <%= form_with model: [invite.campaign, invite] do |form| %>
         <%= form.hidden_field :accepted, value: true %>
         <%= form.submit 'Accept invite' %>
      <% end %>

      <%= button_to 'Decline', [invite.campaign, invite], method: :delete %>
   </div>
<% else %>
   <%= link_to content, campaign, class: 'card' %>
<% end %>
