<% content_for :page_controller, :dashboard %>
<% @page_data = { dashboard_slug_value: @campaign.slug } %>
<% @full_bleed = true %>

<% content_for :nav do %>
	<%= link_to @campaign do %>
		<h3><%= @campaign.name %></h3>
	<% end %>
<% end %>

<% content_for :header do %>
	<% if @current_location %>
		<%= render 'locations/header', location: @current_location %>
	<% else %>
		<h1><%= @campaign.name %></h1>
	<% end %>
<% end %>

<div class="grid">
	<%= render 'quests/list', quests: @campaign.cards.filter { _1.actable_type == 'CardType::Quest' } .map(&:specific) %>

	<% if @current_location %>
		<%= render 'locations/content', location: @current_location %>
	<% else %>
		<%= render @campaign.cards.map(&:specific) %>
	<% end %>
</div>
