<% content_for :title, @campaign.name %>

<% content_for :nav do %>
    <%= link_to @campaign do %>
        <h3><%= @campaign.name %></h3>
    <% end %>

    <%= link_to 'Edit', edit_campaign_path(@campaign) %>
<% end %>

<%= render 'image_header', image: @campaign.image, image_class: 'splash', size: :regular do %>
    <div class="splash-content">
        <h1><%= @campaign.name %></h1>

        <% unless @campaign.tagline.empty? %>
            <p><%= @campaign.tagline %></p>
        <% end %>
    </div>
<% end %>

<div class="grid">
    <%= render @campaign.cards %>
</div>
