<% content_for :title, @campaign.name %>

<% content_for :nav do %>
    <%= link_to @campaign do %>
        <h3><%= @campaign.name %></h3>
    <% end %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
    <strong>Name:</strong>
    <%= @campaign.name %>
</p>

<%= render @campaign.image.specific if @campaign.image %>

<p>
  <strong>Tagline:</strong>
  <%= @campaign.tagline %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @campaign.owner_id %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
