<% content_for :title, @campaign.name %>

<% content_for :nav do %>
    <%= link_to @campaign do %>
        <h3><%= @campaign.name %></h3>
    <% end %>

    <% if @campaign.editable?(current_user) %>
        <%= link_to new_campaign_card_path(@campaign) do %>
            <i class="fa fa-plus"></i>
            Add…
        <% end %>
    <% end %>

    <%= link_to campaign_users_path(@campaign) do %>
        <i class="fa fa-users"></i>
        Members
    <% end %>

    <% if @campaign.owner?(current_user) %>
        <%= link_to edit_campaign_path(@campaign) do %>
            <i class="fa fa-edit"></i>
            Edit
        <% end %>
    <% end %>
<% end %>

<% content_for :header do %>
    <h1><%= @campaign.name %></h1>

    <% unless @campaign.tagline.empty? %>
        <p><%= @campaign.tagline %></p>
    <% end %>
<% end %>

<div class="grid">
    <%= render @campaign.cards.map(&:specific) %>
</div>
