<% content_for :title, @campaign.name %>

<% content_for :nav do %>
    <%= link_to @campaign do %>
        <h3><%= @campaign.name %></h3>
    <% end %>
<% end %>

<%= render @campaign.image.specific, image_class: 'splash', size: :regular do %>
    <div class="splash-content">
        <h1><%= @campaign.name %></h1>

        <% unless @campaign.tagline.empty? %>
            <p><%= @campaign.tagline %></p>
        <% end %>
    </div>
<% end %>

<div class="grid">
    <%= render @campaign.cards %>
</div>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
