<% content_for :title, @campaign.name %>

<% content_for :nav do %>
    <%= link_to @campaign do %>
        <h3><%= @campaign.name %></h3>
    <% end %>

    <%= link_to campaign_dashboard_path(@campaign) do %>
        <i class="fa fa-thumb-tack"></i>
        Dashboard
    <% end %>

    <% if @campaign.editable?(current_user) %>
        <%= link_to new_campaign_card_path(@campaign) do %>
            <i class="fa fa-plus"></i>
            Add…
        <% end %>
    <% end %>

    <%= link_to campaign_user_campaigns_path(@campaign) do %>
        <i class="fa fa-users"></i>
        Members
    <% end %>

    <% if @campaign.owner?(current_user) %>
        <%= link_to edit_campaign_path(@campaign) do %>
            <i class="fa fa-edit"></i>
            Edit
        <% end %>
    <% end %>
<% end %>

<%= turbo_stream_from @campaign, :cards %>

<%= render 'header', campaign: @campaign %>

<div class="grid">
    <%= render @campaign.cards.map(&:specific) %>

	<% if @campaign.editable?(current_user) and @campaign.cards.empty? %>
        <%= link_to new_campaign_card_path(@campaign) do %>
            <div class="card">
                <%= render 'icon_header', level: 3, title: 'Add something…', icon: 'fa fa-plus' %>
            </div>
        <% end %>
    <% end %>
</div>
