<p id="notice"><%= notice %></p>

<h1>Card Type Objectives</h1>

<table>
  <thead>
    <tr>
      <th>Completed</th>
      <th>Quest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @card_type_objectives.each do |card_type_objective| %>
      <tr>
        <td><%= card_type_objective.completed %></td>
        <td><%= card_type_objective.quest_id %></td>
        <td><%= link_to 'Show', card_type_objective %></td>
        <td><%= link_to 'Edit', edit_card_type_objective_path(card_type_objective) %></td>
        <td><%= link_to 'Destroy', card_type_objective, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card Type Objective', new_card_type_objective_path %>
