<% content_for :title, "#{@campaign.name} members" %>

<% content_for :nav do %>
  <%= link_to @campaign do %>
    <h3><%= @campaign.name %></h3>
  <% end %>
<% end %>

<% content_for :header do %>
  <h1><%= @campaign.name %></h1>

  <% unless @campaign.tagline.empty? %>
    <p><%= @campaign.tagline %></p>
  <% end %>
<% end %>

<div class="grid">
  <div class="paper">
    <h3>Members</h3>
    <ul>
      <% @campaign.campaign_users.order(:access).each do |campaign_user| %>
        <li>
          <%= render campaign_user.user, campaign_user: campaign_user %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="card">
    <%= form_with(model: [@campaign, @campaign.campaign_users.build]) do |form| %>
      <%= form.fields_for :user do |f| %>
        <div class="field">
          <%= f.label :username %>
          <%= f .text_field :username %>
        </end>
      <% end %>
      <%= form.submit %>
    <% end %>
  </div>
</div>
