<% content_for :header do %>
   <%= render 'header', location: @card %>
<% end %>

<% unless @card.html_body.empty? %>
   <div class="paper">
      <%= @card.html_body %>
   </div>
<% end %>

<%= render @card.children %>
<%= render @card.quests %>
<%= render @card.objectives %>
