<% content_for :header do %>
   <% if @card.parent %>
      <%= link_to [@card.parent.campaign, @card.parent] do %>
         <%= render 'icon_header', {
            level: 2,
            title: @card.parent.title,
            icon: @card.parent.icon,
            label: @card.parent.specific.model_name.human
         } %>
      <% end %>
   <% end %>

   <%= render 'icon_header', title: @card.title, icon: @card.icon, label: @card.specific.model_name.human %>
<% end %>

<% unless @card.html_body.empty? %>
   <div class="paper">
      <%= @card.html_body %>
   </div>
<% end %>

<%= render @card.children %>
<%= render @card.quests %>
<%= render @card.objectives %>
