<% content_for :card_nav do %>
   <%= link_to 'Edit', edit_polymorphic_path([@campaign, @card.specific]) %>
<% end %>

<% content_for :header do %>
   <% if @card.parent %>
      <%= link_to [@card.parent.campaign, @card.parent] do %>
         <%= render 'icon_header', {
            level: 2,
            title: @card.parent.title,
            icon: @card.parent.icon,
            label: @card.parent.specific.model_name.human
         } %>
      <% end %>
   <% end %>

   <%= render 'icon_header', title: @card.title, icon: @card.icon, label: @card.specific.model_name.human %>
<% end %>

<div class="grid">
    <% unless @card.html_body.empty? %>
        <div class="paper">
            <%= @card.html_body %>
        </div>
    <% end %>

   <% @card.children.each { concat render _1 } %>

    <%= render @card.links_to_relations.map(&:specific) %>
</div>
