<% content_for :card_nav do %>
   <%= link_to 'Edit', edit_polymorphic_path([@campaign, @card.specific]) %>
<% end %>

<% content_for :header do %>
   <% if @card.parent %>
      <h2>
      <%= link_to [@card.parent.campaign, @card.parent] do %>
            <% if @card.parent.icon %>
               <i class="<%= @card.parent.icon %>" aria-role="image" aria-label="<%= @card.parent.model_name.human %>"></i>
            <% end %>
            <%= @card.parent.title %>
         <% end %>
      </h2>
   <% end %>

   <h1>
      <% if @card.icon %>
         <i class="<%= @card.icon %>" aria-role="image" aria-label="<%= @card.specific.model_name.human %>"></i>
      <% end %>

      <%= @card.title %>
   </h1>
<% end %>

<div class="grid">
    <% unless @card.html_body.empty? %>
        <div class="paper">
            <%= @card.html_body %>
        </div>
    <% end %>

   <% @card.children.each { concat render _1 } %>

    <%= render @card.links_to_relations.map(&:specific) %>
</div>
