<!DOCTYPE html>
<html>
    <head>
        <title>
            <% if content_for? :title %>
                <%= content_for :title %> ✢
            <% end %>
            Almanac
        </title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source%20Sans%20Pro%3A400%2C400i%2C700%2C700i%7CLibre%20Baskerville">
        <%= javascript_pack_tag 'application' %>
        <%= stylesheet_link_tag 'application', media: 'all' %>
    </head>

    <body>
        <header class="toolbar">
            <%= link_to root_url do %>
                <%= image_tag 'logo.svg', class: 'logo', alt: 'Almanac' %>
            <% end %>
            <% if content_for? :nav %>
                <nav>
                    <%= content_for :nav %>
                </nav>
            <% end %>

            <% if current_user %>
                <aside>
                  <%= link_to current_user.email, logout_path %>
                </aside>
            <% end %>
        </header>

        <%= yield %>
    </body>
</html>
