<% content_for :title, @card.friendly_title %>

<% content_for :nav do %>
   <%= link_to @campaign do %>
      <h3> <%= @campaign.name %> </h3>
   <% end %>

   <% if content_for? :card_nav %>
      <%= content_for :card_nav %>
   <% end %>
<% end %>

<% unless content_for?(:header) %>
   <%= render 'header', card: @card %>
<% end %>

<% content_for :before do %>
   <%= render 'content', card: @card %>
<% end %>

<% if @card.persisted? %>
   <% content_for :after do %>
      <%= render @card.card_links %>

      <div class="card">
         <h3>Add related&hellip;</h3>

         <%= form_with model: [@campaign, @card.card, @card._card_links.build] do |form| %>
            <%= form.collection_select(
               :to_id,
               @campaign.cards - @card.related - [@card],
               :id,
               :title
            ) %>
            <%= form.submit %>
         <% end %>
      </div>
   <% end %>
<% end %>

<% @content_class = 'grid' %>
<%= render template: 'layouts/header_and_content' %>
